@font-face {
    font-family: "theme-christmas-font";
    src: url("./fonts/christmas.ttf");
}

@font-face {
    font-family: "theme-halloween-font";
    src: url("./fonts/creepster.regular.ttf");
}

body {
    margin: 0;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropbtn {
    font-family: 'Roboto', sans-serif;
    background-color: var(--grid-background);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown button:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

section {
    height: 80vh;
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bingo-title {
    display: flex;
    justify-content: center;
}

.bingo-title>h1 {
    margin: 0;
    font-size: 3em;
    color: var(--primary-dark-text);
    text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.7);
    font-family: var(--primary-font);
}

#bingo-grid {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    padding: 5px;
    background-color: var(--primary-text);
    border-radius: 10px;
    margin: 5px;
}

.grid-item {
    font-family: var(--primary-font);
    color: var(--primary-text);
    background-color: var(--grid-background);
    border: 1px solid var(--grid-border);
    text-shadow: 2px 2px 2px rgb(53, 44, 14, 0.5);
    font-size: 30px;
    text-align: center;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked {
    transition: ease-in .08s;
    font-size: 100px;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
}

.bingo-win {
    font-family: var(--primary-font);
    font-size: 50px;
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bingo-container {
    padding: 20px;
    background-color: var(--container-background);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 8px;
}

.bingo-answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 3;
    max-width: 50vw;
}

.bingo-answer-child {
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: var(--secondary-text);
    border-radius: 8px;

}

.bingo-container>h1.gentle-tilt-move-shake {
    animation: tilt-n-move-shaking 0.25s infinite;
    color: var(--secondary-text);
    letter-spacing: 4px;
    text-shadow: -3px 3px 0 var(--primary-text),
        3px 3px 0 var(--primary-text),
        3px -3px 0 var(--primary-text),
        -3px -3px 0 var(--primary-text);
}

svg {
    transition: transform .5s ease-in-out;
}

svg:hover {
    transform: rotate(360deg);
}

.reset-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: none;
    font-size: 30px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    background-color: #751916;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.credit {
    color: #fff;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.486), 0 1px rgba(0, 0, 0, 0.486), 1px 0 rgba(0, 0, 0, 0.486), 0 -1px rgba(0, 0, 0, 0.486);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.github-logo {
    margin: 2px;
}

.github-code {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@media only screen and (max-width: 800px) {
    section {
        width: 100vw;
    }

    .bingo-title>h1 {
        font-size: 7vw;
    }

}

@media only screen and (max-width: 700px) {
    .checked {
        font-size: 80px;

    }
}

@media only screen and (max-width: 500px) {

    .grid-item {
        font-size: 20px;
    }

    .checked {
        font-size: 70px;

    }
}

@media only screen and (max-width: 380px) {
    .checked {
        font-size: 50px;

    }
}

html {
    --background-image: none;
    --primary-font: 'Roboto', sans-serif;
    --primary-text: #2b3d49;
    --primary-dark-text: #751916;
    --secondary-text: #2b3d49;
    --container-background: #dfd1c5;
    --grid-background: #efefef;
    --grid-text: var(--primary-dark-text);
    --grid-border: var(--primary-dark-text);
}

html[data-theme="halloween"] {
    --background-image: url("./images/background_halloween.jpg");
    --primary-font: "theme-halloween-font";
    --primary-text: #ab0200;
    --primary-dark-text: #751916;
    --secondary-text: #f7630c;
    --grid-background: #ffe78a;
    --container-background: #113721;
    --grid-text: var(--primary-dark-text);
    --grid-border: var(--primary-dark-text);
}

html[data-theme="christmas"] {
    --background-image: url("./images/background_christmas.jpg");
    --primary-text: white;
    --primary-font: "theme-christmas-font";
    --primary-dark-text: #b41d24;
    --secondary-text: #446759;
    --container-background: #113721;
    --grid-background: #b41d24;
    --grid-text: #446759;
    --grid-border: #113721;
}